{% extends 'Coder/base.html' %}

{% block contenido %}

    <h2>Cursos</h2>
        
    <table border="1">
        <thead>
            <th>Curso</th>
            <th>Comisión</th>
            <th>Profesor</th>
        </thead>
    <tbody>
        {% for curso in cursos %}
            <tr>
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.comision }}</td>
                <td>{{ curso.profesor }}</td>   
            </tr>  
        {% endfor %}
    </tbody>
    <table>

    <button><a href="{% url 'index' %}">Inicio</a></button> 

{% endblock contenido %}